<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center m-3">Dodaj nową wycieczkę</h2>

            <form [formGroup]="tripForm" (ngSubmit)="addTrip()">

                <div class="mb-3">
                    <label for="name" class="form-label">Nazwa</label>
                    <input type="text" class="form-control" id="name" formControlName="name" required>
                </div>

                <div class="mb-3">
                    <label for="country" class="form-label">Kraj</label>
                    <input type="text" class="form-control" id="country" formControlName="country" required>
                </div>

                <div class="mb-3">
                    <label for="startDate" class="form-label">Data rozpoczęcia</label>
                    <input type="date" class="form-control" id="startDate" formControlName="startDate" required>
                </div>

                <div class="mb-3">
                    <label for="endDate" class="form-label">Data zakończenia</label>
                    <input type="date" class="form-control" id="endDate" formControlName="endDate" required>
                </div>

                <div class="mb-3">
                    <label for="price" class="form-label">Cena</label>
                    <input type="number" class="form-control" id="price" formControlName="price" required>
                </div>

                <div class="mb-3">
                    <label for="maxSpots" class="form-label">Maksymalna liczba miejsc</label>
                    <input type="number" class="form-control" id="maxSpots" formControlName="maxSpots" required>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Opis</label>
                    <textarea class="form-control" id="description" formControlName="description" required></textarea>
                </div>

                <div class="mb-3">
                    <label for="imageLink" class="form-label">Link do zdjęcia</label>
                    <input type="text" class="form-control" id="imageLink" formControlName="imageLink" required>
                </div>

                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary">Dodaj wycieczkę</button>
                </div>

            </form>
        </div>
    </div>
</div>


  
